<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="articles(articles)">

    <div class="articles_wrapper">
        <div class="post" th:each="article : ${articles}">
            <h2><a th:href="@{'/article/' + ${article.id}}" th:text="${article.title}">Title</a></h2>
            <p th:text="${article.text}">body text</p>
            <br>
        </div>
    </div>

</div>

</body>
</html>