<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/head :: Head"></head>

<body>

<div th:replace="/header :: Header"></div>

<div class="container">

    <div class = "container">
        <div class = "row">
            <div class ="container">
                <h1 class = "text-center"></h1>
                <form th:action="@{/Home}" th:object = "${article}" method="POST">
                    <div class="mb-3">
                        <input type="text" class="form-control"  th:field = "*{title}" readonly>
                    </div>

                    <div class="mb-3">
                        <textarea class="form-control" th:field = "*{text}"readonly>
                                </textarea>
                    </div>
                </form>

            </div>
        </div>

        <div class="comments">
            <h2>Comments</h2>
            <div class="comment" th:each="comment : ${article.comments}">
                <p th:text="${comment.text}">Body</p>
            </div>
        </div>
        <div class="align-center">
            <a th:href="@{'/comment/{id}'(id=${article.id})}">
                <button class="green-btn" type="button">Comment Post</button>
            </a>
        </div>
    </div>

        <footer th:replace="/footer :: Footer"></footer>
    </div>
    </div>
</body>
</html>